.newclass2{
    width: 320px;
    height: 380px;
}

.newclass3{
    display: flex; 
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-size: cover !important; 
    background-position: center; 
    object-fit: cover !important;
}

.banner .swiper-slide:nth-child(1n) {
    background-image: url('../assests/News1.png');
}

.banner .swiper-slide:nth-child(2n) {
    background-image: url('../assests/News2.jpg');
}

.banner .swiper-slide:nth-child(3n) {
    background-image: url('../assests/News3.jpg');
}

.banner .swiper-slide:nth-child(4n) {
    background-image: url('../assests/News4.png');
}

.banner .swiper-slide:nth-child(5n) {
    background-image: url('../assests/News5.jpg');
}

.banner .swiper-slide:nth-child(6n) {
    background-image: url('../assests/News6.jpg');
}

.banner .swiper-slide:nth-child(7n) {
    background-image: url('../assests/News7.jpg');
}

.banner .swiper-slide:nth-child(8n) {
    background-image: url('../assests/News10.jpg');
}

.banner .swiper-slide:nth-child(9n) {
    background-image: url('../assests/News8.jpg');
}

.banner .swiper-slide:nth-child(10n) {
    background-image: url('../assests/News10.jpg');
}

.highlighted{
    color: rgb(70, 70, 209);
    font-weight: 700;
}