.productbuttons{
    display: flex;
    justify-content: space-around;
}

.card-text{
    padding-bottom: 1em;
}

.productleftside {
    width: 100%;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  
  .categoryshow {
    display: flex;
    flex-direction: column;
  }
  
  .productpage {
    display: flex;
    padding: 1rem;
  }
  
  .ProductDetailsCard {
    background-color: rgba(34, 33, 33, 0.181);
  }
  
  .productshow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    gap: 2rem;
  }
  
  .priceSpan {
    color: green;
    font-weight: 700;
  }
  
  .ButtonBorder {
    border: 2px solid black;
  }
  
  .productimage {
    transition: transform 0.3s;
    height: 15rem;
    width: 100%;
  }
  
  .productimage:hover {
    transform: scale(1.1);
  }
  

  
.boxlayoutproducts {
    display: flex;
    height: 100%;
    width: 25%;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.4), 4px 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 0.2rem;
  }
  
  .card {
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .card2 {
    width: 40%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .reviewlayout {
    height: 100%;
    width: 110%;
    margin-left: 0.1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .cartlayout{
    display: flex;
    justify-content: start;
    width: 100%;
  }


@media screen and (max-width: 1068px)  {
    .card2{
      width: 50%;
    }  

    .ButtonBorder {
        border: 2px solid black;
        font-size: 13px;
      }

    .card-title{
        font-size: 15px;
    }

    .card-text{
      font-size: 13px;
      padding-bottom: 0;
    }
    .productbuttons{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .productpage{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
      }
     
      .productleftside{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: fit-content;
      }
      .responsivesearch{
        display: flex;
        flex-direction: column;
      }
    
      .categorysection{
        display: flex;
        flex-direction: column;
        flex-grow: 3;
      }
    
      .categoryshow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
      }
    
      .categorysection .smalltitlefont{
        font-size: 10px;
      }
    
      
    .Fixed {
      position: relative;
      left: 0%;
    }
    .Fixed .mediumtitlefont{
      font-size: 12px;
      color: black;
      font-weight: 500;
      letter-spacing: 1px;
    }
    
    .productshow{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-around;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
    }
    
    .boxlayoutproducts{
      width: 47%;
    }
    
    .responsivecategory .mediumtitlefont{
      font-size: 12px;
      font-weight: 500;
    }
}